body{
    background-color: #1a1d1f;
    font-family: system-ui;
    width: 800px;
    color: #c0e7ef;
    
}

.btn {
	display: inline-block;
	padding: px 20px;
	border: none;
	background: rgb(184, 241, 255);
	border-radius: 15px;
	color: #151c65;
	text-transform: uppercase;
	font-weight: 900;
	height: 30px;
	position: absolute;
	top: 30%;
	transition: background .2s linear;
}

.btn:hover {
	display: inline-block;
	padding: px 20px;
	background: rgb(154, 163, 197);
}

#btn_back {
	position: absolute;
	left: 15%;
}

#btn_next {
	position: absolute;
	left: 70%;
}

.embed {
	position: absolute;
	left: 20%;
	top: 50%
}

.h1 {
	position: absolute;
	left: 35%;
	top: 0%
}
.h2 {
	position: absolute;
	left: 45%;
	top: 15%
}
.h3 {
	position: absolute;
	left: 36%;
	top: 25%
}
.p1 {
	position: absolute;
	left: 20%;
	top: 35%;
	width: 900px;
}