body{
    background-color: #1a1d1f;
    font-family: system-ui;
    width: 800px;
    color: #c0e7ef;
    
}

.btn {
	display: inline-block;
	padding: px 20px;
	border: none;
	background: rgb(184, 241, 255);
	border-radius: 15px;
	color: #151c65;
	text-transform: uppercase;
	font-weight: 900;
	height: 30px;
	transition: background .2s linear;
}

.btn:hover {
	display: inline-block;
	padding: px 20px;
	background: rgb(154, 163, 197);
}
